<div class="row">
    <h2 class="col-6">
        CRUD OF USERS
    </h2>
    <a class="col-6 btn btn-primary align-self-right" [routerLink]="['new']">
        New user
    </a>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col-6 align-self-start">Featured</h4>
            <div class="md-form col-6 align-self-end">
                <app-search-user (searchUser)="updateUserList($event)"></app-search-user>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Users</h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr app-user *ngFor="let u of users" [user]="u"></tr> 
            </tbody>
        </table>

        <a href="#" class="btn btn-primary mt-3 align-self-center" (click)="goBack()">Go back</a>
    </div>
</div>